* {
  cursor: default;
  font-family: "Roboto", sans-serif;
  text-align: left;
  caret-color: transparent;
}

body {
  background-image: url(../images/wallpaper.png);
  background-size: cover;
}

button {
  border: none;
  background-color: transparent;
  color: white;
}

.left__menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid gray;
  background: linear-gradient(39deg, rgb(80, 52, 35) 5%, rgb(227, 142, 0) 69%, rgb(235, 98, 0) 100%);
}

.left__menu__item {
  position: relative;
}

.left__menu__item__dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid beige;
  border-radius: 5px;
  gap: 20px;
  padding: 10px;
  position: absolute;
  margin: 0;
  background: linear-gradient(345deg, rgb(28, 34, 40) 0%, rgba(238, 223, 198, 0.7665660014) 45%, rgb(238, 208, 138) 100%);
}

.left__menu__item__dropdown {
  display: none;
  position: absolute;
}

.left__menu__item__dropdown--button {
  margin: 0;
  padding-right: 10px;
  border-bottom: 0.1px solid grey;
  width: 200px;
  color: black;
  border-radius: 5px;
}
.left__menu__item__dropdown--button:hover {
  background-color: rgb(52, 128, 233);
}

.icon__chevron {
  float: right;
}

.left__menu__item__dropdown__item {
  position: relative;
}

.left__menu__item__dropdown__dropdown {
  flex-direction: column;
  margin-left: 200px;
  margin-top: -42px;
  border: 1px solid beige;
  border-radius: 5px;
  gap: 20px;
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 1;
  background: linear-gradient(345deg, rgb(28, 34, 40) 0%, rgba(238, 223, 198, 0.7665660014) 45%, rgb(238, 208, 138) 100%);
}

.right__menu {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(39deg, rgb(80, 52, 35) 5%, rgb(227, 142, 0) 69%, rgb(235, 98, 0) 100%);
  color: white;
  border-radius: 10px;
  margin: 0px 10px 5px 10px;
  bottom: 0;
}

.apps__img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 60%;
  color: black;
  border: 2px solid grey;
  border-radius: 10px;
}
.modal-content--calculator {
  height: 49%;
  width: 20%;
  background-color: rgb(91, 84, 80);
  color: white;
  padding: 3px;
  font-size: 25px;
}

.modal__header {
  background-color: antiquewhite;
  height: 20px;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.modal__header--calculator {
  background-color: rgb(91, 84, 80);
}
.modal__header--chrome {
  height: 25px;
  text-align: left;
  background-color: rgb(231, 234, 237);
}
.modal__header--chrome--icon {
  font-size: 15px;
}
.modal__header--chrome--newTab {
  width: 180px;
  border: 2px solid rgb(231, 234, 237);
  border-bottom: none;
  background-color: white;
  display: inline-block;
  padding: 4px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}
.modal__header--chrome--newTab--close {
  margin-left: 70px;
}

.modal__text {
  width: 100%;
  height: 100%;
}

.modal__text--calculator--input {
  text-align: end;
  height: 52px;
  font-size: 50px;
}
.modal__text--calculator--operators {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}

.modal__chrome__searchdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 15px;
}
.modal__chrome__searchdiv--searchbar {
  border: 2px solid rgb(231, 234, 237);
  background-color: rgb(231, 234, 237);
  width: 70%;
  border-radius: 20px;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.modal__chrome__searchdiv--searchbar--m {
  border: 2px solid transparent;
  background-color: rgb(242, 129, 60);
  border-radius: 60px;
  padding: 5px;
  color: white;
  font-size: 10px;
}

.modal__chrome__mainpage {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 10px;
}
.modal__chrome__mainpage--svg {
  height: 70px;
  width: 200px;
}
.modal__chrome__mainpage--searchbar {
  border: 2px solid gray;
  width: 400px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: red;
  float: left;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: red;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
}

.column {
  display: flex;
  flex-basis: 2.5;
  background-color: rgb(115, 116, 116);
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  gap: 1px;
  height: 51px;
}
.column__operator {
  background-color: rgb(255, 159, 36);
}

.show {
  display: flex;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */