* {
  cursor: default;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

body {
  background-image: url(../images/wallpaper.png);
  background-size: cover;
}

button {
  border: none;
  background-color: transparent;
  color: white;
}

.menu {
}
.left__menu {
  display: flex;
  flex-direction: row;
  gap: 10px;

  border: 1px solid gray;
  background: linear-gradient(
    39deg,
    rgba(80, 52, 35, 1) 5%,
    rgba(227, 142, 0, 1) 69%,
    rgba(235, 98, 0, 1) 100%
  );
}

.left__menu__item {
  position: relative;
}

.left__menu__item__dropdown {
  display: flex;
  flex-direction: column;

  border: 1px solid beige;
  border-radius: 5px;
  //width: fit-content;
  gap: 20px;
  padding: 10px;
  position: absolute;
  margin: 0;

  background: linear-gradient(
    345deg,
    rgba(28, 34, 40, 1) 0%,
    rgba(238, 223, 198, 0.7665660014005602) 45%,
    rgba(238, 208, 138, 1) 100%
  );
}

.left__menu__item__dropdown {
  display: none;
  position: absolute;
}

.left__menu__item__dropdown--button {
  margin: 0;
  padding-right: 10px;
  border-bottom: 0.1px solid grey;
  width: 200px;
  color: black;
  border-radius: 5px;
  &:hover {
    background-color: rgb(52, 128, 233);
  }
}

.icon__chevron {
  float: right;
}

.left__menu__item__dropdown__item {
  position: relative;
}
.left__menu__item__dropdown__dropdown {
  flex-direction: column;
  margin-left: 200px;
  margin-top: -42px;
  border: 1px solid beige;
  border-radius: 5px;
  gap: 20px;
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    345deg,
    rgba(28, 34, 40, 1) 0%,
    rgba(238, 223, 198, 0.7665660014005602) 45%,
    rgba(238, 208, 138, 1) 100%
  );
}

.right__menu {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

footer {
  display: flex;
  position: fixed;
  left: 0;

  height: 50px;
  width: 100%;
  background: linear-gradient(
    39deg,
    rgba(80, 52, 35, 1) 5%,
    rgba(227, 142, 0, 1) 69%,
    rgba(235, 98, 0, 1) 100%
  );
  color: white;
  border-radius: 10px;
  margin: 0px 10px 5px 10px; //top,right,bottom,left

  bottom: 0;
}

.apps__img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

// Modals

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  //padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 60%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: flex;
  z-index: 1;
}
